flows.json
[{"id":"ed6699f3.8912c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4279f69e.c23028","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"68cefe0a.2fe28","type":"ui_group","z":"","name":"Default","tab":"dfb467af.5cfb38","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfb467af.5cfb38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8abe134a.20904","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4daa044.24be","type":"inject","z":"ed6699f3.8912c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Medicines","payloadType":"str","x":280,"y":160,"wires":[["157e2174.a325ff"]]},{"id":"157e2174.a325ff","type":"debug","z":"ed6699f3.8912c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"ce7c5d8.d9c6ca","type":"ibmiot in","z":"ed6699f3.8912c8","authentication":"apiKey","apiKey":"4279f69e.c23028","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":220,"wires":[["157e2174.a325ff"]]},{"id":"39f15125.01d12e","type":"watson-text-to-speech","z":"ed6699f3.8912c8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_OliviaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"A-byYc7kDPoZfScLm1O5OKLU3NLNwC9UoOEoYWPVkPq2","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/e31acf7f-081c-4e28-93d8-7c422e71c988","x":520,"y":300,"wires":[["72e0b45e.ba240c"]]},{"id":"72e0b45e.ba240c","type":"play audio","z":"ed6699f3.8912c8","name":"","voice":"","x":750,"y":300,"wires":[]},{"id":"54807a4b.87c514","type":"inject","z":"ed6699f3.8912c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Time to take medicine","payloadType":"str","x":260,"y":300,"wires":[["39f15125.01d12e"]]},{"id":"ede663d.cfb2fa","type":"watson-speech-to-text","z":"ed6699f3.8912c8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"4qiTUyt_9JtAUQ-9td87CcliqXjd1eFqR8ZT6hndzcPJ","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/bab69765-c8fb-4722-8d28-a749e0e8cf85","x":500,"y":380,"wires":[["594ee33a.71665c"]]},{"id":"35e4e0f1.9614a","type":"microphone","z":"ed6699f3.8912c8","name":"","x":270,"y":380,"wires":[["ede663d.cfb2fa"]]},{"id":"594ee33a.71665c","type":"debug","z":"ed6699f3.8912c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":380,"wires":[]},{"id":"7256b348.1251cc","type":"http in","z":"ed6699f3.8912c8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":250,"y":460,"wires":[["dbfa0d4c.8f216"]]},{"id":"fe67182b.adf668","type":"http response","z":"ed6699f3.8912c8","name":"","statusCode":"","headers":{},"x":730,"y":460,"wires":[]},{"id":"dbfa0d4c.8f216","type":"function","z":"ed6699f3.8912c8","name":"Medicines","func":"msg.payload={ \"8:00\" : \"Omeprazol\" ,\n              \"12:00\": \"Atenolol\" ,\n              \"17:00\" : \"Istamet\" ,\n              \"19:30\" :  \"Metformin\" \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["fe67182b.adf668"]]},{"id":"1e9966a7.68e989","type":"ibmiot out","z":"ed6699f3.8912c8","authentication":"apiKey","apiKey":"4279f69e.c23028","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":600,"wires":[]},{"id":"ca780a61.5bfad8","type":"ui_button","z":"ed6699f3.8912c8","name":"","group":"68cefe0a.2fe28","order":0,"width":0,"height":0,"passthru":false,"label":"MEDICINE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"TABLET\"}","payloadType":"json","topic":"","x":290,"y":580,"wires":[["1e9966a7.68e989"]]},{"id":"7b8d36b2.e5ed08","type":"ui_button","z":"ed6699f3.8912c8","name":"","group":"68cefe0a.2fe28","order":1,"width":0,"height":0,"passthru":false,"label":"EMERGENCY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"EMERGENCY\"}","payloadType":"json","topic":"","x":300,"y":620,"wires":[["1e9966a7.68e989"]]},{"id":"14a080f5.72ec5f","type":"http in","z":"ed6699f3.8912c8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":290,"y":520,"wires":[["dcbf2ed8.3f92e"]]},{"id":"a9a59548.7a0d78","type":"http response","z":"ed6699f3.8912c8","name":"","statusCode":"","headers":{},"x":730,"y":540,"wires":[]},{"id":"dcbf2ed8.3f92e","type":"function","z":"ed6699f3.8912c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":520,"wires":[["a9a59548.7a0d78","3c961dcd.cc6bd2","1e9966a7.68e989"]]},{"id":"3c961dcd.cc6bd2","type":"debug","z":"ed6699f3.8912c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":500,"wires":[]}]